@import url(image.css);
@import url(texto.css);







header
{
    display: flex;
    justify-content: space-around;
    background-color: #ff0000;
    color: #fff;
    align-items: center;
    float: right;
    width: 100%;
}

.titulo, .home, .portifolio, .contact, .blog
{
    border-radius: 10rem;
    padding: 10rem;
}

section
{
   justify-content: center;
}